* {
    maring: 0;
    padding: 0;
    outline: none;
    font-family: Tahoma, Arial, sans-serif;
}

body {
    background: transparent url("../images/hangover.png") no-repeat;
    background-size: 100%;
}

div.container {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 60%;
}

div.cover {
    position: relative;
    width: 200px;
    height: 150px;
    background: #fff;
    opacity: 0.3;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #000;
    animation: myfirst 5s;
    -moz-animation: myfirst 5s infinite; /* Firefox */
    -webkit-animation: myfirst 5s infinite; /* Safari and Chrome */
}

@-moz-keyframes myfirst /* Firefox */
{
    0% {
        background: #fff;
    }
    50% {
        background: yellow;
    }
    75% {
        background: red;
    }
    100% {
        background: yellow;
    }
}

@-webkit-keyframes myfirst /* Firefox */
{
    0% {
        background: #fff;
    }
    50% {
        background: yellow;
    }
    75% {
        background: red;
    }
    100% {
        background: yellow;
    }
}

div.content {
    position: absolute;
    top: 15%;
    left: 15%;
}

#status {
    font-size: 12px;
}

